@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    text-align: center;
    background-image: linear-gradient(to right bottom, #5e62d1, #aa49b7, #d42d8c, #e42959, #dc4823);
    padding: 2rem 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-top: -21px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 35px;
}

.primary-link {
    background-color: #d42d8c;
    color: white;
    font-weight: 900;
    border-radius: 0.5rem;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}

.non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.item {
    display: inline;
    padding: 5% 10%;
    width: 25%;
}

.navbar {
    text-align: center;
    margin-bottom: 35px;
}

.navbar a:hover {
    background-color: #e42959;
}

@media screen and (max-width: 650px) {
    .navbar a {
        float: none;
        display: block;
    }
}

.image1 {
    width: 100%;
    max-width: 300px;
    border-radius: 100%;
    display: block;
    margin: auto;
}

.Img-header {
    text-align: center;
}

.invImg-header {
    color: #aa49b7;
}

.container1 {
    text-align: center;
    background-color: #374151;
    padding: 1rem 1rem;
    font-weight: bold;
}

.container2 {
    text-align: center;
    padding: 1rem 1rem;
    font-weight: bold;
}

.bloglink {
    text-decoration: none;
    border: solid;
    border-color: #E429B6;
    border-radius: 0.5rem;
    color: #E429B6;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
}

.container3 {
    font-weight: bold;
    text-align: center;
    background-color: #374151;
    padding: 1rem 1rem 2rem 1rem;
    margin-top: 1rem;
}

.projectlink {
    text-decoration: none;
    background-color: #E429B6;
    color: white;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
}

.container4 {
    font-weight: bold;
    background-image: linear-gradient(to left top, #5e62d1, #aa49b7, #d42d8c, #e42959, #dc4823);
    color: white;
    padding: 1rem 1rem;
    margin-bottom: -21px;
    margin-left: -10px;
    margin-right: -10px;
}

.image2{
    width: 100%;
    max-width: 450px;
    display: block;
    margin: auto;
    margin-bottom: 5rem;
}

.container5{
    max-width: 600px;
    margin: auto;
    margin-bottom: 5rem;
}